* {
  margin: 0;
  padding: 0;
}

.ajustarAoConteudo {
  width: fit-content;
  height: fit-content;
}

#card {
  border: 1px solid black;
  border-radius: 10px;
  max-height: 90vh;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 20px 50px 20px #e3e3e3;
}

.texto {
  font-size: 25px;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30vh;
}

.logo_img{
  width: 100%;
}